/inicio/node_modules
/inicio/.gitignore
/inicio/README.md
/inicio/.vscode
/inicio/.angular
/inicio/coverage
/inicio/dist

/meal-app/node_modules
/meal-app/.gitignore
/meal-app/README.md
/meal-app/.vscode
/meal-app/.angular
/meal-app/coverage
/meal-app/dist

/pipeapp/node_modules
/pipeapp/.gitignore
/pipeapp/README.md
/pipeapp/.vscode
/pipeapp/.angular
/pipeapp/coverage
/pipeapp/dist