/* You can add global styles to this file, and also import other style files */
/* @import url('//fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 2rem;
}
div{
  display: flex;
  justify-content: center;
  gap: 10px;
} */
.contenedor{ 
  height: auto;
  display: grid;
  place-content: center;  
}
.boton{
  font-size: 20px;
  color: #333333;
  padding: 0.7em 1.7em;
  border-radius:15px;
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c1c1c1, -6px -6px 12px #FFF; 
  cursor: pointer;
  }
.boton:hover{
  box-shadow: -6px -6px 12px #c1c1c1, 6px 6px 12px #FFF 
}