<div class="row">
  <div class="col-12 col-md-6 p-2">
    <h1>Pipes texto</h1>
    <hr>
    <app-texto></app-texto>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h1>Pipes Números</h1>
    <hr>
    <app-numero></app-numero>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h1>Pipes Fechas</h1>
    <hr>
    <app-fecha></app-fecha>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h1>Pipes JSON</h1>
    <hr>
    <app-json></app-json>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h1>Pipe Key value</h1>
    <hr>
    <app-key-value></app-key-value>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h1>Pipe Slice</h1>
    <hr>
    <app-slice></app-slice>
  </div>
</div>
