<!-- <form autocomplete="off">
  <div>
    <label for="proyecto">Proyecto</label>
    <input class="form-control" type="text" id="proyecto" placeholder="NOmbre del proyecto">
  </div>
  <div>
    <label for="horas">Horas</label>
    <input class="form-control" type="number" id="horas" placeholder="horas para completar">
  </div>
  
  <div>
    <label for="tecnologias">Tecnologias</label>
    <input class="form-control" type="text" id="tecnologias" placeholder="NOmbre de la tecnologia">
  </div>

  <button class="btn btn-warning mt-2 mr-2 w-50" type="submit">Agregar proyecto</button>
</form> -->